:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  max-width: 900px;
<<<<<<< HEAD
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
=======
  margin: 0px;
>>>>>>> 418f0f1b7933e710e78a5bacaa99a3ecf2fdb7e5
}

header{
  background-color: #B9F29E;
  height: 79px;
<<<<<<< HEAD
  text-align: center;
=======
  
>>>>>>> 418f0f1b7933e710e78a5bacaa99a3ecf2fdb7e5
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  height: 79px;
}
.menu{
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
  font-family: 'Lexend Deca';
}
a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 79px;  
}
.logo{
  padding-top: 10px;
  padding-left: 10px;
}
.title{
  padding-bottom: 10px;
}
nav div a{
  margin: 10px;
}
h1{
  font-family: 'Lexend Deca';
  align-content: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-auto-rows: minmax(100px, auto);
  padding-bottom: 0px;
}

.wrapper div{
  max-width: 390px;
}
.one {
  max-height: 1000px;
  padding-bottom: 20px;
  padding-top: 100px;
}
.dieta{
  box-shadow:2px 2px 4px #afafaf;
  border-radius: 50px;
}
.text-1{
  padding-top: 20px;
  justify-content: center;
  font-family: 'Lexend Deca';
}
.text-2{
  justify-content: center;
  font-family: 'Lexend Deca';
}
.text-3{
  justify-content: center;
  font-family: 'Lexend Deca';
}
.titulo-sec1 h1{
  padding-top: 70px;
  font-size: 40px;
  align-content:space-between;
}
.logos{
  padding-top: 30px;
}
section{
  text-align: center;
  padding: 5%;
  padding-bottom: 0px;
}

section div section{
  padding: 0px;
  padding-top: 1%;
}


.one section div{
  justify-content:   space-evenly;
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.one section ul{
  text-align:  left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  overflow: hidden;
  letter-spacing: 0.02em;
  margin: 0px;
  margin-left:45px;

  padding-left: 5%;
}
.one section ul li{
  float: left;
}

.one section div img{
  max-width: 150px;
}



.text-4{
  justify-content: center;
  font-family: 'Lexend Deca';
}
.four{
  padding-bottom: 200px;
  justify-content:center;
  padding-top: 200px;
}
.four section p{
  top: 50%;
  left: 50%;
}


section div{
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
}

section .members{
  display: flex;
  font-family: 'Lexend Deca';
}

.member{
  display: grid;
  font-size: 14px;;
}
.member img {
  width: 100px;
  height: 100px;
  max-width: 192px;
  max-height: 100px;
  border-radius: 20px;
}


section .testimonios{
  margin: 0%;
  display: grid;
  padding: 5%;
  padding-bottom: 0px;
}

.testimonio1 p{
  text-align: justify;
  line-height: 200%;
  padding: 5%;
  margin: 0px;
  font-family: 'Lexend Deca';
}

<<<<<<< HEAD
.testimonio1{
=======
.testimonio{
  /* background-color: rgb(253, 255, 138); */
>>>>>>> 418f0f1b7933e710e78a5bacaa99a3ecf2fdb7e5
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow:2px 2px 4px #afafaf;
}

.testimonio1 div {
  text-align:  center;
}

.testimonio1 div div{
  font-family: 'Lexend Deca';
}

<<<<<<< HEAD
.testimonio1 div h3{
  background-color:#B9F29E;
=======
.testimonio div h3{
  /* background-color: rgb(255, 0, 0); */
>>>>>>> 418f0f1b7933e710e78a5bacaa99a3ecf2fdb7e5
  padding: 20px;
  font-family: 'Lexend Deca';
  margin: 0px;
 }

.testimonio1 img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 10px;
}

.testimonio2 p{
  text-align: justify;
  line-height: 200%;
  padding: 5%;
  margin: 0px;
  font-family: 'Lexend Deca';
}

.testimonio2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow:2px 2px 4px #afafaf;
  padding-top: 20px;
}

.testimonio2 div {
  text-align:  center;
}

.testimonio2 div div{
  font-family: 'Lexend Deca';
}

.testimonio2 div h3{
  background-color:#B9F29E;
  padding: 20px;
  font-family: 'Lexend Deca';
  margin: 0px;
 }

.testimonio2 img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.beneficios{
  display: grid;
<<<<<<< HEAD
  font-family: 'Lexend Deca';
=======
  /* background-color: rgb(253, 255, 138); */
>>>>>>> 418f0f1b7933e710e78a5bacaa99a3ecf2fdb7e5
}

section .beneficio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beneficio img {
  width: 350px;
  height: 400px;
  max-width: 350px;
  max-height: 400px;
  border-radius: 20px;
  padding-top: 50px;
}

.beneficio ul li{
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  list-style-type: none; /* Remove bullets */
  padding: 10%; /* Remove padding */
  margin: 0; /* Remove margins */
  
}


.button{
  background-color: #B9F29E;
  color: beige;
  border-radius: 20px;
}


.tabla h1{
  text-align: left;
}
table{
  max-width: 800px;
  min-width: 350px;
}
#Beneficios .tabla table,
#Beneficios .tabla td,
#Beneficios .tabla tr{
  border:none;
  border-collapse: collapse;
}

#Beneficios td:nth-child(4),
#Beneficios th:nth-child(4)
{
  background-color: #B9F29E;
  text-align:  center;
}


td {
    text-align: left;
    
}


td img{
  max-width: 68px;
  max-height: 68px;
}

.planes{
  display: flex;
}
.planes .tabla{
  display: grid;
  font-size: 50px;;
}

.planes .tabla table,
.planes .tabla table td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #B9F29E;
 
}


.planes .tabla thead,
.planes .tabla table tfoot {
    text-align: center;
    background-color: #B9F29E;
    color: #fff;
    
}

.planes .tabla{
  padding-bottom: 5%;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #B9F29E;
}

footer div a{
  margin: 20px;
}

footer div img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}
/* 
.twitter {
  background-image:  url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png");
}

.facebook{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png");
}

.instagram{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png");
} */